@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Gilroy";
  src: url("../public/fonts/gilroy-regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Gilroy";
  src: url("../public/fonts/gilroy-medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Gilroy";
  src: url("../public/fonts/gilroy-semibold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Gilroy";
  src: url("../public/fonts/gilroy-bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;

  --font-body: "Gilroy";

  --color-primary: #0073ec;
  --color-black: #000;
  --color-white: #fff;
  --color-offWhite: #f4f6f9;
  --color-gray-300: #f7f9fa;
  --color-darkPurple: #210e2e;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

html {
  @apply antialiased;
}

body {
  @apply mx-auto flex h-screen max-w-[3000px] flex-col font-body;
}

p {
  @apply text-xl;
}

a {
  @apply inline-block;
}

section {
  @apply p-8;
}

main {
  @apply flex h-screen flex-1 flex-col;
}

.section-grid {
  @apply grid grid-cols-20 gap-8;
}

@layer utilities {
  .link-block {
    position: relative;
    & a {
      @apply after:absolute after:inset-0 after:content-[''];
    }
  }

  .link-underline {
    &:hover {
      text-decoration-line: underline;
      text-decoration-thickness: 3px;
      text-underline-offset: 2px;
    }
    span {
      @apply transition-all duration-300 ease-in-out;
    }
  }

  .text-balance {
    text-wrap: balance;
  }
}

/* form {
  padding-top: 80px;
  max-width: 340px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr;
  gap: 16px;
} */

/* Input style */
.input-container {
  position: relative;
  display: flex;
  flex-direction: column;
}

.input-container:focus-within label {
  transform: translate(0, 12px) scale(0.8);
  color: black;
}

.input-container .filled {
  transform: translate(0, 12px) scale(0.8);
}

.input-container label {
  position: absolute;
  pointer-events: none;
  transform: translate(0, 30px) scale(1);
  transform-origin: top left;
  transition: 200ms cubic-bezier(0, 0, 0.2, 1) 0ms;
  color: black;
  font-size: 16px;
  line-height: 1;
  left: 16px;
}

.input-container input {
  height: 100%;
  border: none;
  padding: 16px 16px 4px 16px;
  font-weight: 600;
  line-height: 1;
  outline: none;
  box-shadow: none;
  transition: 200ms cubic-bezier(0, 0, 0.2, 1) 0ms;
}

.input-container input:focus {
  box-shadow: 0 0 0 2px #79b1ff;
}
